---
---
<!-- get modelType -->
{% include fragment-modelType.html id='MINSAQSilenciarPaciente' %}

{% assign format = page.path | split: '.html'| first | split: '.' | last %}

{% if format == 'xml' %}
{% assign section = '7' %}
{% elsif format == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section {{section}}" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-quest-navtabs.html type='Questionnaire' id='MINSAQSilenciarPaciente' active=format %}

<a name="root"> </a>
<h2 id="root">Questionnaire: Questionnaire/MINSAQSilenciarPaciente - {{format | upcase}} Profile</h2>

<p>{{format | upcase}} representation of the MINSAQSilenciarPaciente questionnaire.</p>

<p><a href="Questionnaire-MINSAQSilenciarPaciente.{{format}}" no-download="true">Raw {{format}}</a> | <a href="Questionnaire-MINSAQSilenciarPaciente.{{format}}" download>Download</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='Questionnaire' id='MINSAQSilenciarPaciente' %}

  {%include Questionnaire-MINSAQSilenciarPaciente-{{format}}-html.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='Questionnaire' id='MINSAQSilenciarPaciente' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
