---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='StructureMap' id='MINSA.RegistroVacuna.QRToImmunization' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: MINSA.RegistroVacuna.QRToImmunization - Change History</h2>
  <p>History of changes for MINSA.RegistroVacuna.QRToImmunization {{type | downcase}}.</p>

  {%include StructureMap-MINSA.RegistroVacuna.QRToImmunization-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
